In [2]:
# Python notes: Class 4

# Install a library (module)
# Open anaconda prompt -> conda install numpy (not necessary if it's already installed)

# Import numpy, and rename it as np so it can be referenced more easily
import numpy as np

In [3]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [5]:
# Call the array method from the np library to convert the list to a numpy array
# This lets you use built-in methods from numpy on the list
np.array(my_list)

array([1, 2, 3])

In [9]:
# Create a matrix by nesting lists
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
my_matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
# Convert the matrix to a np array

np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [15]:
# The arrange method

# Two arguments (start, stop)
np.arange(0, 10)

# Three arguments (step size)
np.arange(0, 10, 2)

array([0, 2, 4, 6, 8])

In [17]:
# A placeholder matrix filled completely with zeros

# 5x5
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [18]:
# Matrix filled with ones...

#5x5
np.ones((5,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [19]:
# Linear spacing of n values in a range

np.linspace(0, 10, 3)

array([ 0.,  5., 10.])

In [26]:
# Create a matrix of 50 numbers spaced evenly from one to ten

np.linspace(0, 10, 50)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

In [21]:
# Identity matrices
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [32]:
# Random value generation

# Random has its own methods

# Two numbers from a uniform distribution
np.random.rand(2)

# A random matrix from the uniform distribution
np.random.rand(5,5)

# From a standard normal distribution
np.random.randn(5,5)

# Random integers (start, stop, n)
np.random.randint(1, 101, 10)

array([ 6, 87, 63, 87, 24, 51, 85, 73, 97, 46])

In [53]:
# Make some arrays
arr = np.arange(25)
ranarr = np.random.randint(0, 50, 10)

arr
ranarr

array([ 0, 38, 34, 12, 30, 13, 24,  0,  6,  3])

In [38]:
# Reshape arrays

# Call rashape rirectly on the array
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [43]:
# The maximum, minimum, etc.
ranarr.max()

3

In [ ]:
ranarr.argmax() # The position of the maximum value in ranarr

In [44]:
ranarr.min()

4

In [46]:
ranarr.argmin()

3

In [56]:
# Matrix dimensions (after reshaping it)
arr = arr.reshape(5,5)
arr.shape

(5, 5)

In [55]:
# Create a matrix
np.mat(arr)

matrix([[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]])

In [58]:
# The type of this matrix (return the dtype attribute)
arr.dtype

dtype('int32')

In [60]:
# Indexing and slicing matrices
arr = np.arange(25)

In [61]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [62]:
# The 9th element
arr[8]

8

In [63]:
# Ranges
arr[1:5]

array([1, 2, 3, 4])

In [64]:
# Broadcasting... (resetting values)
arr[0:5] = 100 # change the first 5 values of arr to 100
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24])

In [69]:
# Reset array
arr = np.arange(25)

# Slice of arr
slice_arr = arr[0:6]
slice_arr

array([0, 1, 2, 3, 4, 5])

In [72]:
slice_arr[:] = 99 # Set all values of slice_arr to 99

In [75]:
arr # The broadcasting function gets applied to the original array too

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [77]:
arr_copy = arr[0:6].copy() # copy an array if you don't want changes to a subset to be reflected in the original
arr_copy

array([99, 99, 99, 99, 99, 99])

In [81]:
arr2d = np.array(([5,10,15], [20, 25, 30], [35,40,45])) #2d array
arr2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [86]:
np.arange(5, 46, 5).reshape(3,3) # A better way to create the same matrix using the reshape function

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [88]:
# Matrix indexing

arr2d[0] # the first row

array([ 5, 10, 15])

In [91]:
# In general, indexing works as array[row, column] or array[row][column]
arr2d[1, 0] # Scond row, first column

20

In [93]:
# Matrix slicing
arr2d[:2, :2] # Give every row up until the third, and every column up to the third

array([[ 5, 10],
       [20, 25]])

In [95]:
# Just the last column
arr2d[:,2]

array([15, 30, 45])

In [97]:
# create a large matrix
arr2d = np.arange(1,101).reshape(10,10)
arr2d

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

In [98]:
arr2d[[0, 2, 4, 6, 8,]] # grab these rows

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
       [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
       [81, 82, 83, 84, 85, 86, 87, 88, 89, 90]])

In [99]:
arr2d[[1, 7, 3, 2, 8,]] # In any order you want

array([[11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [81, 82, 83, 84, 85, 86, 87, 88, 89, 90]])

In [100]:
arr2d[:,[1, 2, 3, 4]] # Select columns

array([[ 2,  3,  4,  5],
       [12, 13, 14, 15],
       [22, 23, 24, 25],
       [32, 33, 34, 35],
       [42, 43, 44, 45],
       [52, 53, 54, 55],
       [62, 63, 64, 65],
       [72, 73, 74, 75],
       [82, 83, 84, 85],
       [92, 93, 94, 95]])

In [102]:
# Diagonal elements
arr2d[[0,1,2,3,4,5,6,7,8,9], [0,1,2,3,4,5,6,7,8,9]]

array([  1,  12,  23,  34,  45,  56,  67,  78,  89, 100])

In [103]:
# Some operators
arr2d > 30

array([[False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True]])

In [104]:
arr2d * arr2d # element by element multiplication

array([[    1,     4,     9,    16,    25,    36,    49,    64,    81,
          100],
       [  121,   144,   169,   196,   225,   256,   289,   324,   361,
          400],
       [  441,   484,   529,   576,   625,   676,   729,   784,   841,
          900],
       [  961,  1024,  1089,  1156,  1225,  1296,  1369,  1444,  1521,
         1600],
       [ 1681,  1764,  1849,  1936,  2025,  2116,  2209,  2304,  2401,
         2500],
       [ 2601,  2704,  2809,  2916,  3025,  3136,  3249,  3364,  3481,
         3600],
       [ 3721,  3844,  3969,  4096,  4225,  4356,  4489,  4624,  4761,
         4900],
       [ 5041,  5184,  5329,  5476,  5625,  5776,  5929,  6084,  6241,
         6400],
       [ 6561,  6724,  6889,  7056,  7225,  7396,  7569,  7744,  7921,
         8100],
       [ 8281,  8464,  8649,  8836,  9025,  9216,  9409,  9604,  9801,
        10000]])

In [105]:
np.max(arr2d) # maximum values

100

In [106]:
np.log(arr2d)

array([[0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791,
        1.79175947, 1.94591015, 2.07944154, 2.19722458, 2.30258509],
       [2.39789527, 2.48490665, 2.56494936, 2.63905733, 2.7080502 ,
        2.77258872, 2.83321334, 2.89037176, 2.94443898, 2.99573227],
       [3.04452244, 3.09104245, 3.13549422, 3.17805383, 3.21887582,
        3.25809654, 3.29583687, 3.33220451, 3.36729583, 3.40119738],
       [3.4339872 , 3.4657359 , 3.49650756, 3.52636052, 3.55534806,
        3.58351894, 3.61091791, 3.63758616, 3.66356165, 3.68887945],
       [3.71357207, 3.73766962, 3.76120012, 3.78418963, 3.80666249,
        3.8286414 , 3.8501476 , 3.87120101, 3.8918203 , 3.91202301],
       [3.93182563, 3.95124372, 3.97029191, 3.98898405, 4.00733319,
        4.02535169, 4.04305127, 4.06044301, 4.07753744, 4.09434456],
       [4.11087386, 4.12713439, 4.14313473, 4.15888308, 4.17438727,
        4.18965474, 4.20469262, 4.21950771, 4.2341065 , 4.24849524],
       [4.26267988, 4.27666612, 4.29045944, 4.30406509, 4.31748811,
        4.33073334, 4.34380542, 4.35670883, 4.36944785, 4.38202663],
       [4.39444915, 4.40671925, 4.41884061, 4.4308168 , 4.44265126,
        4.4543473 , 4.46590812, 4.47733681, 4.48863637, 4.49980967],
       [4.51085951, 4.52178858, 4.53259949, 4.54329478, 4.55387689,
        4.56434819, 4.57471098, 4.58496748, 4.59511985, 4.60517019]])

In [108]:
A = np.arange(1,5).reshape(2,2)

In [109]:
A*A

array([[ 1,  4],
       [ 9, 16]])

In [110]:
a = np.mat(A)

In [111]:
a*a # Actual matrix multiplication

matrix([[ 7, 10],
        [15, 22]])

In [112]:
a.T # Transpose

matrix([[1, 3],
        [2, 4]])